<!--
<div class="sidebar_heading">
  <a>Search</a>
 </div>
   <div class="activity_list">
    <table cellpadding="0" cellspacing="3">
      <tr>
        <td valign="top"><img src="/images/tinydog.gif"><td>
        <td>
          <a href="/search/user">Search Users</a>
        </td>
      </tr>
      <tr>
        <td valign="top"><img src="/images/tinydog.gif"><td>
        <td>
          <a href="/groups">Search Groups</a>
        </td>
      </tr>
      <tr>
        <td valign="top"><img src="/images/tinydog.gif"><td>
        <td>
          <a href="/search/recipe">Search Recipes</a>
        </td>
      </tr>
      <tr>
        <td valign="top"><img src="/images/tinydog.gif"><td>
        <td>
          <a href="/search/contact">Search Contact Lists</a>
        </td>
      </tr>

    </table>
  </div>
  <br><br>
  <font style="font-size:10px; color:#666666"> - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - </font>
 
-->
