<div class="setting_heading">
  &nbsp;&nbsp;Following list  &nbsp;&nbsp; <a href="/friends/stream/">See what they are eating</a>
 <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" onclick="$('following').toggle();"><span style="color:white;">Toggle Following</span></a>
  &nbsp;<a href="#" onclick="$('followers').toggle();"><span style="color:white;">Toggle Followers</span></a>-->
</div>

<div id="friends_list">
  <%= render :partial => "friends_list"  %>
</div>
<%= will_paginate @friends, :class => 'picnic_pagination' %>