<div class="home_top">
    <div class="what">
        The World's Basket
         <a href="/basket/top_health"><span style="color:white;">Healthy Basket</span></a>
         <a href="/basket/top_taste"><span style="color:white;">Tasty Basket</span></a>
    </div>
  </div>
  <font style="font-size: 13px">This is a listing of all the foods being eaten by all the members of the community in real time</font>
  <br />
  <br />

<%= render :partial => 'big_list' %>