<div class="home_top">
  <div class="what">
    Groups You've Joined Basket
  </div>
</div>
<font style="font-size: 13px">This is a listing of all the foods being eaten by all the group members of the groups you have joined.</font>
<br />
<br />
<%= render :partial => "group_list" %>