<div class="home_top">
    <div class="what">
        The World's Healthy Basket
         <a href="/basket/big"><span style="color:white;">Big Basket</span>&nbsp;</a><a href="/basket/top_taste"><span style="color:white;">Tasty Basket</span></a>
    </div>
  </div>
  <br />
<%= render :partial => "big_list" %>