<div class="home_top">
    <div class="what">
        The World's Tasty Basket
         <a href="/basket/big"><span style="color:white;">Big Basket</span>&nbsp;&nbsp;</a><a href="/basket/top_health"><span style="color:white;">Healthy Basket</span></a>
    </div>
  </div>
  <br />
<%= render :partial => "big_list" %>