 <div class="home_top">
  <div class="what">Calorie Reporting</div>
  <br />
  <table>
    <tr>
      <td colspan="2">
      <%= form_tag "/reporting" %>
      <%= calendar_date_select_tag "start_date", Date.today %> <%= calendar_date_select_tag "end_date", Date.today %>
<br>
    
      </td>
     </tr>
    <tr><td>
          </td>
        <td align="right"><%= submit_tag "Submit", {:style => "width:100px;"} %></td>
        </form>

    </tr>
  </table>
</div>