

<center><a href="/" border="0"><img src="/images/pd_logo.png" border="0" style="margin-bottom: 20px;" /></a></center>
<div id="plain_wrapper">
  <div class="pad2">
    <br>
    <% if @email != nil %>
      Email address <%=@email.email_address %> has been unsubscibed from our mailing list.
    <% else %>
      Email address does not exist in our system.  Contact support at picnc dog dot com for assistance.
    <% end  %>
    <br><br>
    <br>
    Having problems, email support at picnic dog dot com.
    <font color="red">
      <div id="message_box"></div>
    </font>
  </div>
</div>






