	<div class="setting_heading">
    &nbsp;&nbsp;Change your password
</div>


<div id="password_error" style="display:none;" class="error_box" > 
                         </div>

<% form_remote_tag :url => {:action => 'changepassword' }, :complete => visual_effect(:fade, 'password_error', :duration => 4.0) do -%>

<table cellspacing="0" border="0" style="border-collapse:collapse;">
    <tr>
        <td colspan="2">
            <br/>
            <table>
                <tr>
                    <td>
                        Current Password:
                    </td>
                    <td>
                        <%= password_field_tag "old_password" %>
                    </td>
                </tr>
                <tr>
                    <td>
                        New Password:
                    </td>
                    <td>
                         <%= password_field_tag "password" %>
                    </td>
                </tr>
                <tr>
                    <td>
                        Repeat new password:
                    </td>
                    <td>
                        <%= password_field_tag "password_confirmation" %>
                    </td>
                </tr>
                <tr>
                	<td align="right">
                       
                    </td>
                    <td align="right">
                         <%= submit_tag "Change Password" %>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
              
<% end %>




