	<div class="setting_heading">
    &nbsp;&nbsp;System Email Notification
</div>


<div id="system_email_error" class="error_box" style="display:none; ">
                         </div>

<% form_remote_tag :url => {:action => 'update_system_email' }, :complete => visual_effect(:fade, 'system_email_error', :duration => 4.0)  do -%>

<table cellspacing="0" border="0" style="border-collapse:collapse;">
    <tr>
        <td colspan="2">
            <br/>
            <table>
                <tr>
                    <td>Check to disable notifcation of system emails.  These emails are sent by us to notify you of outages, upgrades and news that we would like you to know.
                        <% if @user.profile.send_system_email == 1 %>
                          <%= check_box_tag "send_system_email" ,'', true %>
                        <% else %>
                          <%= check_box_tag "send_system_email" %>
                        <% end %>
                    </td>
                </tr>
                <tr>
                    <td align="left">
                      
                    </td>
                  </tr>
                <tr>
                    <td align="right">
                         <%= submit_tag "Update System Email Setting" %>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
              
<% end %>




