<a name="invitation" /></a>
	<div class="setting_heading">
    &nbsp;&nbsp;Invite some to join Picnic Dog
</div>


<div id="invite_message_box" style="display:none;" class="error_box" > 
                         </div>

<div id="invite_form">
  <%= render :partial => "invite_form" %>
</div>




