

<span class="menu_link">
<a href="/basket" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'anylinkmenu1')">BASKETS</a>
</span>
<div id="anylinkmenu1" class="anylinkcss" style="width: 165px;">
  <a href="/basket">My Basket</a>
  <a href="/basket/big">World Basket</a>
  <a href="/friends/followerstream">Followers Basket</a>
  <a href="/friends/stream">Following Basket</a>
  <a href="/basket/grouplist">Groups Basket</a>
  <a href="/basket/unrated">Unrated Basket</a>
  <a href="/basket/ratingtaste">My Rated Food Basket</a>
</div>
&nbsp;&nbsp;&nbsp;
<span class="menu_link">
<a href="/friends" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'anylinkmenu2')">CONNECTIONS</a>
</span>
<div id="anylinkmenu2" class="anylinkcss" style="width: 100px;">
  <a href="/friends">Following</a>
  <a href="/friends/followers">Followers</a>
  <a href="/basket/groups">My Groups</a>
</div>
&nbsp;&nbsp;&nbsp;
<span class="menu_link">
<a href="/profile">MY PROFILE</a>
</span>
&nbsp;&nbsp;&nbsp;
<span class="menu_link">
<a href="/search/user" onClick="return clickreturnvalue()" onMouseover="dropdownmenu(this, event, 'anylinkmenu3')">SEARCH</a>
</span>
<div id="anylinkmenu3" class="anylinkcss" style="width: 150px; ">
  <a href="/search/user">Users</a>
  <a href="/groups">Groups</a>
  <a href="/search/recipe">Recipes</a>
  <a href="/search/contact">GMAIL for users</a>
</div>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<span class="menu_link">
<a href="/accounts/destroy">LOGOUT</a>
</span>