<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta name="verify-v1" content="hGleox90hyrtaX+WkVgu/y8NQHfDragqwSRtEaK26bk=" />
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
   <title>Picnic Dog - Food Conversation Without The Table.</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="robots" content="index,follow" />
    <meta name="description" content="Track what you eat and socialize with others who eat like you." />
    <meta name="keywords" content="Food, diet, cooking, recipes, social networking" />
    <meta name="author" content="AgileOutfitters" />
    <meta name="copyright" content="" />

    <link rel="stylesheet" href="stylesheets/blueprint/screen.css" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="stylesheets/blueprint/print.css" type="text/css" media="print">
    
    <!--[if IE]><link rel="stylesheet" href="blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
   
    <%= stylesheet_link_tag 'accounts' %>
    <%= javascript_include_tag :defaults %>
</head>
<body bgcolor="#FFFFFF">

<%= yield %>

<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-4575272-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>
