<%= form_remote_tag :url => {:action => "forgot_password" }  %>

    <center><a href="/" border="0"><img src="/images/pd_logo.png" border="0" style="margin-bottom: 20px;" /></a></center>
    <div id="plain_wrapper">
    <div class="pad2">

<label class="focus_first" for="user_login">What is the email address used to create your account?</label>
<br>
<%= text_field_tag :email, "", :size => 50 %>  
<div class="button">
    <%= submit_tag 'Request Password' %>
  </div>	
  <br>
    Having problems, email support at picnic dog dot com.
   <font color="red">
  <div id="message_box"></div>
   </font>
</div>
    </div>

  



</form>

