<br><br>
<center><a href="/" border="0"><img src="/images/pd_logo.png" border="0" style="margin-bottom: 20px;" /></a></center>
<div id="plain_wrapper">
<div class="pad2">

Please reset your password<br>
Must be at least 4 characters<br><br>
<div id="password_form">
<%= form_remote_tag :url => {:action => "reset_password" }  %>
    Password:<br />
    <%= password_field_tag :password %><br />
    Confirm Password:<br />
    <%= password_field_tag :password_confirmation %><br />
    <div class="button">
    <%= submit_tag "Reset Your Password" %>
  </div>
    
    </form>
</div><br>
<div id="message_box"></div>
</div>
</div>

